body {
    background-color: rgb(1, 1, 53);
    margin: 0;
    display: flex;
    justify-content: center;
}

img {
    margin: 0 10px;
}

.amount{
    width: 25px;
}

.game-wrapper {
    top: 20px;
    position: relative;
    width: 1600px;
    height: 832px;
}

.gui {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* .game_round {

} */

.player_resources {
    display: flex;
    align-items: center;
}

#p2gui {
    justify-content: flex-end;
}